# Hay que crear una configuracion OSGI para que el repoinit cree un usuario
# vass-system que herede los permisos del grupo administrators que crea Adobe en el momento de la instalación de AEM.
# Este usuario se usará para ser usado por los servicios que se creen en el proyecto.
# asi como tambien debe poder ser usado por ejemplo en scripts de groovy para ejecutar acciones que requieran permisos de administrador.
scripts=[
  "
  create service user vass-system with path /home/users/system/vass/vass-system

  add principal vass-system to group administrators
  "
]
